<%= form_with model: @place do |form| %>
  <p>
    <%= form.label "name", "Where" %>
    <%= form.text_field "name" %>
  </p>

  <%= form.submit %>
<% end %>

<p>
<a href="/places">Back to Home</a>
</p>